<div th:fragment="footer">
    <footer class="text-body-secondary py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Пролистать вверх</a>
            </p>
            <p class="mb-1">Навигация</p>
            <p class="mb-0">
                <a href="/">Вернуться на главную страницу</a><br><br>
                <a href="/entry">Вернуться к списку записей</a><br><br>
                <a href="/about">О приложении</a>
            </p>
        </div>
    </footer>
</div>